<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asura.restapi.mapper.TaskMapper">
    <insert id="createTask" parameterType="com.asura.restapi.model.dto.TaskDto" >
     INSERT INTO tb_tax_task(task_id, user_name, city_code, id_type, source, pwd) VALUES
     (#{task_id,jdbcType=VARCHAR},#{user_name,jdbcType=VARCHAR},
     #{city_code,jdbcType=VARCHAR},
     #{id_type,jdbcType=VARCHAR}
     ,#{source,jdbcType=INTEGER},#{pwd,jdbcType=VARCHAR})
    </insert>

    <update id="updateTaskStatus" >
        UPDATE tb_tax_task t1 set t1.status = #{status,jdbcType=INTEGER},t1.update_time = now()
        where t1.task_id = #{task_id,jdbcType=VARCHAR}
    </update>

    <select id="queryTaskByTaskId" resultType="com.asura.restapi.model.dto.TaskDto">
        SELECT * from tb_tax_task t1 where t1.task_id = #{task_id,jdbcType=VARCHAR}
    </select>
</mapper>